body {
  background-size: cover;
}

.main-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

video {
  background: black;
  border: 1px solid gray;
}

.call-wrap {
  position: relative;
  display: block;
  padding: 10px;
}

#local-video {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 9;
}

#remote-video {
  width: 500px;
  height: 500px;
}

.chat-wrap {
  display: block;
  width: 400px;
  margin-left: 15px;
  padding: 10px;
  max-height: 500px;
  overflow-y: scroll;
}

.call-hang-status {
  position: absolute;
  z-index: 999;
  height: 97%;
  width: 100%;
}

.calling-status-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  z-index: 9;
}

.user-image img {
  height: 150px;
  width: 150px;
}

.user-name {
  padding: 5px 0;
  font-size: 18px;
}

.user-calling-status {
  padding: 15px 0;
  font-size: 18px;
}

.calling-action {
  padding: 50px 0 0 0;
  display: flex;
}

.audio-icon {
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  margin-right: 20px;
}

.close-icon {
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
}

.call-status-wrap {
  height: 500px;
  width: 500px;
}

.calling-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  z-index: 9;
}

.calling-hang-action {
  padding: 420px 0 0 0;
  display: flex;
}

.video-toggle {
  border-radius: 50%;
  padding: 8px;
  margin-right: 20px;
  cursor: pointer;
}

.audio-toggle {
  border-radius: 50%;
  padding: 8px;
  margin-right: 20px;
  cursor: pointer;
}

.call-cancel-icon {
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
}

#logout {
  float: right;
  height: 30px;
  width: 65px;
  border-radius: 15px;
  color: white;
  background-color: blue;
  border-color: blue;
  cursor: pointer;
}

.table {
  text-align: center;
  margin: 0 20px;
  min-width: 300px;
  max-width: fit-content;
  border-radius: 10px;
  background-color: white;
}

.circle {
  border-radius: 50%;
  margin: 24px 0 -15px 20px;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: blue;
}

.heading {
  display: inline-block;
  margin: 0px 0px 20px 20px;
}

.list li {
  background-color: #bfbff2;
  height: 30px;
  width: 90%;
  border-radius: 10px;
  margin: 5px;
  text-align: center;
}

#myFavesBtn {
  height: 30px;
  width: 150px;
  border-radius: 15px;
  color: white;
  background-color: blue;
  border-color: blue;
  cursor: pointer;
}

#favesListBtn {
  margin: 0 15px;
  height: 30px;
  width: 150px;
  border-radius: 15px;
  color: black;
  background-color: white;
  border-color: white;
  cursor: pointer;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin: 0 8px;
}

.up {
  transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
}

.carousel-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.carousel-wrapper {
  display: flex;
  width: 100%;
  position: relative;
}

.carousel-content-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.carousel-content {
  display: flex;
  transition: all 250ms linear;
  -ms-overflow-style: none; /* hide scrollbar in IE and Edge */
  scrollbar-width: none; /* hide scrollbar in Firefox */
}

/* hide scrollbar in webkit browser */
.carousel-content::-webkit-scrollbar,
.carousel-content::-webkit-scrollbar {
  display: none;
}

.carousel-content > * {
  width: 100%;
  flex-shrink: 0;
  flex-grow: 1;
}

.carousel-content.show-2 > * {
  width: 50%;
}

.carousel-content.show-3 > * {
  width: calc(100% / 3);
}

.carousel-content.show-4 > * {
  width: calc(100% / 4);
}

.left-arrow,
.right-arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background-color: white;
  border: 1px solid #ddd;
}

.left-arrow {
  left: 24px;
}

.right-arrow {
  right: 24px;
}

@media (hover: none) and (pointer: coarse) {
  .left-arrow,
  .right-arrow {
    display: none;
  }
}
